button(
  class="button footer__button",
  aria-description="показывать всплывающее окно для сохарнения выбранных статей",
  type="button"
  onclick="window['dialog-id'].showModal()"
  aria-controls="dialog-id"
)
  svg.footer__button-icon(viewBox="0 0 29 28")
    use(href="./svg/floppy-icon.svg#floppy__icon")
  span.button__text Сохранить на память